mixin advantages(data)
    section.advantages
      .advantages__container.container
        h2.advantages__title.title Ваши преимущества
        ul.advantages__list
          li.advantages__item
            .advantages__icon
              img(src="assets/images/content/advantages-img-1.png", alt="")
            .advantages__item-title Гарантия результата <br/>по договору
            .advantages__text Заключая с нами Договор, <br/>Вы можете быть уверены в том, <br/>что мы несем ответственность <br/>за не достижение Вами <br/>желаемого результата.
          li.advantages__item
            .advantages__icon
              img(src="assets/images/content/advantages-img-2.png", alt="")
            .advantages__item-title Рост заявок и прибыли
            .advantages__text После создания продающих <br/>сайтов и настройки на них <br/>трафика, средний прирост <br/>заявок и прибыли наших <br/>Клиентов составляет от 20%.
          li.advantages__item
            .advantages__icon
              img(src="assets/images/content/advantages-img-3.png", alt="")
            .advantages__item-title Комплекстный маркетинг
            .advantages__text Подходим к бизнесу грамотно: <br/>начиная от планирования и <br/>формирования стратегии развития, <br/>заканчивая внедрением эффективных <br/>каналов продвижения.