mixin guarantee(data)
  .guarantee
    .guarantee__w
      ul.guarantee__list
        li.guarantee__item
          img.guarantee__icon(src="assets/images/general/guarantee-icon-1.png", alt="") 
          .guarantee__text Использование профессионального современного оборудования и самых качественных материалов.

        li.guarantee__item
          img.guarantee__icon(src="assets/images/general/guarantee-icon-2.png", alt="") 
          .guarantee__text 3 месяца гарантии на покрасочные работы, 1 год гарантии на прочие виды услуг и оборудование паркинга.

        li.guarantee__item
          img.guarantee__icon(src="assets/images/general/guarantee-icon-3.png", alt="") 
          .guarantee__text Работы производятся инженерами и монтажниками с опытом работы от 3-х лет в сфере строительства.
