mixin history(data)
    section.history
      .history__container.container
        h2.history__title.title Наша история

      .history__w.container
        .history__photo
          img(src="assets/images/general/founder-photo.png", alt="")
        .history__content
          h3.history__name Виталий Аликин
          .history__role руководитель агентства
          .history__text
            p Агентство «ПроДвижение» — это моя мечта и я вкладываю в него свою душу.  
            p В бизнесе 8 лет - своя сеть салонов красоты. Не по наслышке знаю все тонкости работы, нюансы и требования бизнеса. 

            p Поэтому в агентстве <br/>выстроил так, чтобы основной упор в работе, был сделан не на термины и цифры, а на комфорт, человеческое отношение и получение вами чистой прибыли. 

            p Лично участвую во всех проектах, несу <br/>полную ответственность за результат. У нас каждый клиент - как единственный.

