mixin footer(data)
  footer.footer
    .footer__top
      .footer__container.container
        a.footer__logo.logo(href="#")
          .logo__icon
            img(src='assets/images/general/logo-white.png', alt="Trend")
        
        nav.footer__nav.nav.nav_secondary
          button.nav__trigger
            != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'nav__trigger-icon', iconWidth: '36', iconHeight: '39'})

          .nav__list-w
            ul.nav__list
              li.nav__item
                a.nav__link(href="#") Главная
              li.nav__item
                a.nav__link(href="#") Наши проекты
              li.nav__item
                a.nav__link(href="#") Гарантии
              li.nav__item.nav__item_current
                a.nav__link(href="#") О нас
              li.nav__item
                a.nav__link(href="#") Контакты

        .footer__contacts
          .footer__time Пн-Пт 9:00-18:00       
          .footer__phone.phone.phone_secondary
            a.phone__val(href="tel:+88002000600") 8 (800) 200 06 00

          .footer__email
            a.footer__email-val(href='mailto:info@разметка-тренд.рф') info@разметка-тренд.рф

         
    .footer__bottom
      .footer__container.container
        .footer__copyright ООО «ТРЕНД» ОГРН 1133455001712 Игохин Антон Васильевич | <a href='#'>Политика конфиденциальности</a>