mixin footer(data)
  footer.footer
    .footer__body
      .footer__container.container
        .footer__col
          .footer__title Контакты

          ul.footer__contacts
            li.footer__contact-item
              .footer__address Адрес: 618400, Пермский край <br/>г. Березники, ул. 30 лет Победы, 22
            li.footer__contact-item
              a.footer__phone(href="tel:+88002017519") 88002017519
            li.footer__contact-item
              a.footer__email(href="mailto:info@pro-dvigeniye.ru") info@pro-dvigeniye.ru

          ul.footer__social.social
            .social
              .social__title Мы в соцсетях:
              ul.social__list
                li.social__item.social__item_vk
                  a.social__link(href="#") Vk
                li.social__item.social__item_instagram
                  a.social__link(href="#") Instagram
                li.social__item.social__item_fb
                  a.social__link(href="#") Facebook
                li.social__item.social__item_twitter
                  a.social__link(href="#") Twitter
                li.social__item.social__item_youtube
                  a.social__link(href="#") Youtube

        .footer__col
          .footer__title ПроДвижение

          .footer__text Агентство интернет-маркетинга © 2018-2019 <br/>Использование материалов сайта <br/>разрешено только с согласия правообладателей. <br/>ИП Аликина Ольга Николаевна <br/>ИНН 591100182244 <br/>ОГРНИП 305591101300323
  
    .footer__bottom
      .footer__copyright Все права защищены  © 2018-2019 Агентство интернет-маркетинга