mixin cta(data)
  section.cta&attributes(attributes)
    .cta__container.container
      h2.cta__title Оставьте заявку на разработку стратегии интернет-продвижения сейчас! <br/>И получите первых клиентов уже через десять дней!

      .cta__form.form
        form.form__w(action="", method="post")
          .form__row
            .form__field
              input.form__input(type="text", value="", placeholder="Имя...")
            .form__field
              input.form__input(type="text", value="", placeholder="Телефон...")

            input.form__submit.button.button_theme_big(type="submit", value="Отправить")
    

mixin cta-second(data)
  section.cta&attributes(attributes)
    .cta__container.container
      h2.cta__title Узнайте насколько эффективна будет реклама в интернет для вашего бизнеса! <br/>Запишитесь сейчас на бесплатную консультацию!
      
      .cta__form.form
        form.form__w(action="", method="post")
          .form__row
            .form__field
              input.form__input(type="text", value="", placeholder="Имя...")
            .form__field
              input.form__input(type="text", value="", placeholder="Телефон...")

            input.form__submit.button.button_theme_big(type="submit", value="Отправить")

mixin cta-third(data)
  section.cta&attributes(attributes)
    .cta__container.container
      h2.cta__title Оставьте свой номер телефона сейчас <br/>и получите первых клиентов уже через 10 дней!!
      
      .cta__form.form
        form.form__w(action="", method="post")
          .form__row
            .form__field
              input.form__input(type="text", value="", placeholder="Имя...")
            .form__field
              input.form__input(type="text", value="", placeholder="Телефон...")

            input.form__submit.button.button_theme_big(type="submit", value="Отправить")

mixin cta-fourth(data)
  section.cta&attributes(attributes)
    .cta__container.container
      h2.cta__title Остались вопросы? <br/>Просто оставьте свой номер и мы перезвоним!
      
      .cta__form.form
        form.form__w(action="", method="post")
          .form__row
            .form__field
              input.form__input(type="text", value="", placeholder="Имя...")
            .form__field
              input.form__input(type="text", value="", placeholder="Телефон...")

            input.form__submit.button.button_theme_big(type="submit", value="Отправить")