mixin principles(data)
  section.principles
    .principles__container.container
      h2.principles__title.title Принципы нашей работы
      ul.principles__list
        li.principles__item
          .principles__icon
            img.lazy(data-src="assets/images/content/principles-img-1.png", alt="")
          .principles__item-title Прозрачная схема
          .principles__text Ведём проекты открыто. <br/>Даём вам доступы к статистике. <br/>Вы можете видеть все этапы <br/>работ и процесса.

        li.principles__item
          .principles__icon
            img.lazy(data-src="assets/images/content/principles-img-2.png", alt="")
          .principles__item-title Профессиональная команда
          .principles__text Перед допуском сотрудника <br/>к работе проводим жёсткую <br/>проверку знаний и опыта. <br/>Постоянно обучаемся <br/>сами и учим своих сотрудников.

        li.principles__item
          .principles__icon
            img.lazy(data-src="assets/images/content/principles-img-3.png", alt="")
          .principles__item-title Индивидуальный подход
          .principles__text Работаем не по заученной схеме, <br/>а смотрим на вашу реальную ситуацию. <br/>Главное — результат.

        li.principles__item 
          .principles__icon
            img.lazy(data-src="assets/images/content/principles-img-4.png", alt="")
          .principles__item-title Цены ниже рынка
          .principles__text Наша ценовая политика проста и <br/>понятна, без скрытых платежей. <br/>Ваши расходы напрямую связаны с <br/>нашей результативностью.

        li.principles__item
          .principles__icon
            img.lazy(data-src="assets/images/content/principles-img-5.png", alt="")
          .principles__item-title Высокая ответственность
          .principles__text Будем работать до тех пор, <br/>пока не получим результата. <br/>Никогда не бросим вас на полпути, <br/>если даже что-то сразу не получилось. 
        li.principles__item
          .principles__icon
            img.lazy(data-src="assets/images/content/principles-img-6.png", alt="")
          .principles__item-title Комплексный подход
          .principles__text Погружаемся в ваш бизнес и <br/>максимально используем все <br/>каналы привлечения, анализируя <br/>и следя за результатом.
