mixin faq(data)
  .faq
    .faq__w
      h2.faq__title Частые вопросы:
      dl.faq__list
        .faq__list-item
          dt.faq__term У нас сложный проект. Сможете ли вы его реализовать?
          dd.faq__desc Мы готовы выполнять сложные и оригинальные проекты. Опытная команда налаженные производство и поставка необходимого оборудования, а также само качество этого оборудования позволяют выполнить любые пожелания клиента.

        .faq__list-item
          dt.faq__term Возникнут ли дополнительные расходы после заключения договора?
          dd.faq__desc Нет, цена, указанная в смете, будет окончательной.

        .faq__list-item
          dt.faq__term В чем ваше преимущество?
          dd.faq__desc Выбрав нас, Вы решите проблему организации дорожного движения и получите простое по навигации, но в то же время эстетически привлекательное и комфортное пространство.

        .faq__list-item
          dt.faq__term У меня на руках готовый проект парковки, но его реализация кажется дорогой. Возможна ли оптимизация этого проекта?
          dd.faq__desc Да, это реально.


        .faq__list-item
          dt.faq__term Сколько времени займут все работы?
          dd.faq__desc Все проекты разные, нет какого-то <br/>универсального ответа на этот вопрос, т.к. время зависит от объёма работ. Но мы всегда работаем оперативно и не затягиваем сроки.
