.header
  // position: absolute
  // z-index: 1
  // top: 0
  // left: 0
  width: 100%
  background-color: transparent
  color: #fff 

  &__top
    padding-top: 29px
    padding-bottom: 29px
    display: flex
    justify-content: flex-end

    @include r(500px)
      flex-wrap: wrap


  &__email
    margin-right: 70px
    @include r(500px)
      margin-right: auto
      margin-bottom: 20px
      margin-left: 30px
      width: 100%

  &__phone
    margin-top: 4px

    @include r(500px)
      margin-right: auto
      margin-left: 30px
      width: 100%

  &__body
    padding-top: 8px
    padding-right: 34px
    padding-bottom: 10px
    padding-left: 4px
    display: flex
    justify-content: flex-start
    align-items: center
    
    background-color: rgba(255, 255, 255, .17)
    
    @include r(425px)
      padding-right: 15px

  &__nav
    margin-left: auto

  &__logo
    margin-right: 40px

    @include r(1100px)
      margin-right: auto

  &__button
    @include r(1030px)
      order: 2
      
    @include r(610px)
      margin-right: auto
      margin-left: 0
      order: 3
      

.email,
.phone
  position: relative
  color: #FFF 
  &__val
    color: inherit
    text-decoration: none
  &:after
    position: absolute
    top: 0
    left: 0
    content: '' 

.email
  &__val
    display: block
    font-size: 15px
    font-weight: 100 
    line-height: 1.07
  &__text
    font-size: 15px
    font-weight: 100 
    letter-spacing: 0.21px
    span
      display: block
      font-size: 15px
      font-weight: 600
      letter-spacing: 0.23px
  &:after
    left: -30px
    @include bg($email-icon)

.phone
  font-weight: 100
  line-height: 1.12
  letter-spacing: 0.21px
  font-size: 18px
  // &__val
  // &__time
  
  &:after
    left: -30px
    @include bg($phone-icon)