mixin header(data)
  header.header
    .header__container.container
      a.header__logo.logo.logo_white(href="#")
        .logo__icon
          img(src='assets/images/general/logo.png', alt="Trend")
      
      nav.header__nav.nav
        button.nav__trigger
          != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'nav__trigger-icon', iconWidth: '36', iconHeight: '39'})

        .nav__list-w
          ul.nav__list
            li.nav__item
              a.nav__link(href="#") Главная
            li.nav__item
              a.nav__link(href="#") Наши проекты
            li.nav__item
              a.nav__link(href="#") Гарантии
            li.nav__item.nav__item_current
              a.nav__link(href="#") О нас
            li.nav__item
              a.nav__link(href="#") Контакты

      .header__contacts
        .header__time Пн-Пт 9:00-18:00       
        .header__phone.phone
          a.phone__val(href="tel:+88002000600") 8 (800) 200 06 00

        a.header__button.button.open-popup(href='#callback') Заказать звонок


