.map
  position: relative
  height: 615px
  overflow: hidden
  @include r(1132px)
    height: 715px
  @include r(593px)
    height: auto
    display: flex
    flex-direction: column
  

  //   padding-top: 60%
  //   height: auto
  // &:before
  //   top: 0
  // &:after 
  //   bottom: 0
  //   box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2)
  &__container
    position: absolute
    z-index: 1
    top: 0
    left: 0
    @include r(600px)
      position: static
      padding-top: 20px
      
  &__title
    margin-bottom: 48px
  &__w
    position: absolute
    top: 65px
    // left: 25px
    left: 50px
    padding-top: 22px
    padding-right: 33px
    padding-bottom: 24px
    padding-left: 71px
    width: 575px
    background-color: #ffffff
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    @include r(1132px)
      right: 15px
      left: 15px
      width: auto
      
    @include r(600px)
      position: static
      padding-right: 10px
      padding-left: 10px
    
      
    &:after,
    &:before
      position: absolute
      content: "" 
      @include r(600px)
        display: none
        
    &:after
      z-index: -1
      top: -15px
      right: 15px
      bottom: 15px
      left: -15px
      width: 100%
      height: 100%
      background-color: #fdd408
    &:before
      top: 37px
      left: 30px
      width: 27px
      height: 220px
      background: url('../images/general/contacts-w.png') 0 0 no-repeat
      
  &__object
    position: absolute
    z-index: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2)
    @include r(600px)
      position: static
      order: 1
      height: 439px
      
    &:after
      position: absolute
      z-index: 0
      top: 0
      left: 0
      width: 100%
      height: 100%
      content: ""
      box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2)
      pointer-events: none
