mixin services(data)
  section.services.lazy(data-bg="url('assets/images/general/bg.png')")&attributes(attributes)
    .services__container.container
      .services__text.text что мы предлагаем
      h2.services__title.title Наши услуги

      ul.services__list
        li.services__item
          .services__image
            img.lazy(data-src="assets/images/content/service-img-1.jpg", alt="")
            .services__category <span>Дорожная разметка</span>

          .services__item-text
            h3 Материалы с которыми мы работаем:
            p Дорожная краска, Холодный и термо пластик, эпоксидная краска, краска с повышенной адгезией к бетонным полам.
            h3 Подробнее:
            ul
              li Наносим: линии, надписи и другие обозначения, <br/>информирующие водителей и пешеходов об условиях <br/>и режимах движения на участке.
              li Регламентируется ГОСТ Р 51256-2011.
              li Удаление (Демаркирование), линий дорожной <br/>разметки (способы различные)
          
          .services__item-bottom
            .services__note Для предварительной оценки
            a.services__button.button.button_third.open-popup(href="#callback") Оставьте заявку


        li.services__item
          .services__image
            img.lazy(data-src="assets/images/content/service-img-2.jpg", alt="")
            .services__category <span>Поставка и монтаж оборудования</span>
          .services__item-text
            h3 Оборудование для парковок и дорог <br/>общего пользования:
            ul
              li Дорожные Знаки
              li Металлические изделия по Вашим эскизам <br/>или предложим свои
              li ИДН (лежачий полицейский), колесоотбойники, <br/>парковочные столбики, делиниаторы, демпферы, съезды с бордюра и др.
              li Все вышеперечисленное мы можем смонтировать <br/>и привезти на объект.


          .services__item-bottom
            .services__note Для предварительной оценки
            a.services__button.button.button_third.open-popup(href="#callback") Оставьте заявку

        li.services__item
          .services__image
            img.lazy(data-src="assets/images/content/service-img-3.jpg", alt="")
            .services__category <span>Услуги клининга</span>
          .services__item-text
            h3 Подробнее:
            ul
              li Подметание дорожных покрытий и лотков
              li Мойка проезжей части дороги
              li Складирование и вывоз мусор
              li Уборка дорог от снега и наледи,
              li Обработка дорожных покрытий химическими реагентами
              li Мы выполняем летнюю уборку дорог, а также уборку <br/>дорог в зимний период.

          .services__item-bottom
            .services__note Для предварительной оценки
            a.services__button.button.button_third.open-popup(href="#callback") Оставьте заявку

        li.services__item
          .services__image
            img.lazy(data-src="assets/images/content/service-img-4.jpg", alt="")
            .services__category <span>Проектирование</span>
          .services__item-text
            h3 Подробнее:
            ul
              li Изготовим Проект Организации Дорожного Движения <br/>(ПОДД) (нужно как то правильно указать,<br/> что можем как с нуля, так и внести изменения <br/>в соответствии с задачей)
              li Подготовим для вас комплект сопроводительных <br/>документов, чтобы согласовать в надзорных ведомствах
              li Готовы взять весь процесс согласования на себя.

          .services__item-bottom
            .services__note Для предварительной оценки
            a.services__button.button.button_third.open-popup(href="#callback") Оставьте заявку