.hero
  position: relative
  
  background-position: 50% 50%   
  background-size: cover
  background-repeat: no-repeat
  
  &__container
    padding-top: 80px
    padding-bottom: 204px
    
  &__w
    position: relative
    padding-left: 40px
    max-width: 870px
    width: 100%
    @include r(1024px)
      padding-left: 0
    &:after
      position: absolute
      z-index: 0
      top: -28px
      left: 0
      content: ""
      width: 341px
      height: 393px
      background: url('../images/general/hero-w.png') 0 0 no-repeat
      @include r(1024px)
        display: none  
  &__title
    margin-bottom: 36px
    padding-right: 180px
    color: #ffffff
    font-size: 30px
    font-weight: 700
    line-height: 1.4
    text-shadow: 0 0 38px rgba(0, 0, 0, 0.35)
    @include r(1024px)
      padding-right: 0
    // Text style for "Р, еализац"
    // Text style for ""
    span
      font-size: 44px
  &__list
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    
    @include r(1024px)
      max-width: 380px
    
  &__item 
    position: relative
    margin-right: 10px
    margin-bottom: 20px
    padding-top: 12px
    padding-bottom: 12px
    padding-left: 58px
    max-width: 380px
    width: 100%
    height: 45px
    background: url("../images/general/hero-item.png") 100% 0 no-repeat 
    
    font-size: 19px
    font-weight: 400
    
    @include r(405px)
      margin-right: 0
      padding-right: 20px
      padding-left: 50px
      height: 60px
      background-size: cover
    
    span,
    strong
      font-weight: 700 

    &:after,
    &:before
      position: absolute
      top: 0
      left: 0
      content: ""
      
    &:before
      width: 45px
      height: 45px
      background-color: #fdd408
      @include r(405px)
        height: 100%
      
    &:after
      top: 50%
      left: 10px
      transform: translateY(-50%) 
  &__item_1
    &:after
      @include bg($hero-item-icon-1)

  &__item_2
    &:after
      @include bg($hero-item-icon-2)
  &__item_3
    &:after
      @include bg($hero-item-icon-3)
  &__item_4
    &:after
      @include bg($hero-item-icon-4)
      
      
  &__bottom
    position: relative
    z-index: 1
    margin-top: 17px
    display: flex
    align-items: center
    @include r(1024px)
      flex-wrap: wrap
    @include r(634px)
      align-items: flex-start
  // &__button

  &__text
    margin-left: 69px
    color: #ffffff
    font-size: 18px
    
    @include r(1024px)
      margin-left: 20px
      
    @include r(634px)
      margin-top: 20px
      margin-left: 0
      width: 100%

    span
      font-weight: 700 
