mixin hero(data)
  section.hero.lazy(data-bg="url('assets/images/general/hero-bg.png')")&attributes(attributes)
    .hero__container.container
      .hero__w
        h1.hero__title <span>Реализация услуг по</span> нанесению дорожной разметки, поставке и монтажу дорожного оборудования
        
        ul.hero__list
          li.hero__item.hero__item_1 Работаем <span>круглосуточно</span>
          li.hero__item.hero__item_2 Заканчиваем <span>работу в срок</span>
          li.hero__item.hero__item_3 <span>Убираем объект</span> после работ
          li.hero__item.hero__item_4 Опыт работ <span>более 5 лет</span>
    
        .hero__bottom
          a.hero__button.button.button_secondary.open-popup(href="#callback") Оставьте заявку

          .hero__text и получите <span>бесплатную консультацию!</span>

