mixin cooperation(data)
    section.cooperation
      .cooperation__container.container
        h2.cooperation__title.title Как извлечь от сотрудничества <br/>с нами идеальный результат?
        ul.cooperation__list
          li.cooperation__item.lazy(data-bg="url('assets/images/general/how-img-1.png')")
            .cooperation__item-w
              .cooperation__item-title Наличие работающего <br/>больше года бизнеса
              .cooperation__text Есть клиенты, сотрудники, отдел продаж, <br/>качественные товары и услуги.

          li.cooperation__item.lazy(data-bg="url('assets/images/general/how-img-2.png')")
            .cooperation__item-w
              .cooperation__item-title Продаете по всей России, СНГ <br/>или в городе с населением <br/>от 500.000 человек
              .cooperation__text Мы нацелены на предоставление <br/>больших объемов клиентов для бизнеса <br/>и поэтому нам не интересно <br/>работать с маленькими городами. 

          li.cooperation__item.lazy(data-bg="url('assets/images/general/how-img-3.png')")
            .cooperation__item-w
              .cooperation__item-title Чистая прибыль с одной <br/>продажи от 6000 рублей
              .cooperation__text В связи с высокой стоимостью <br/>интернет-рекламы, нужно, чтобы <br/>прибыль с клиента окупала <br/>затраты на ее привлечение.

          li.cooperation__item.lazy(data-bg="url('assets/images/general/how-img-4.png')")
            .cooperation__item-w
              .cooperation__item-title Ориентироваться <br/>на результат, а не на процесс
              .cooperation__text Если для Вас главное результат (прибыль) - <br/>а не  процесс (что, как и куда прикручено), <br/>вы не дергаете нас каждый час, не <br/>цепляетесь к мелочам, то нам с <br/> Вами по пути. Все будет сделано на <br/>высшем уровне и в оговоренные сроки.

          li.cooperation__item.lazy(data-bg="url('assets/images/general/how-img-5.png')")
            .cooperation__item-w
              .cooperation__item-title Быть вежливым, честным <br/>и прятным в общении
              .cooperation__text Мы нацелены на долгосрочное <br/>сотрудничество, и поэтому эмоциональный <br/>фон нашего общения играет важную роль.

          li.cooperation__item.lazy(data-bg="url('assets/images/general/how-img-6.png')")
            .cooperation__item-w
              .cooperation__item-title Наличие бюджета на рекламу
              .cooperation__text Если Ваш рекламный бюджет менее <br/>10 000 руб., мы вам не подходим.
