mixin schema(data)
    section.schema
      .schema__container.container
        h2.schema__title.title Схема нашей работы
        .schema__steps-w
          .schema__steps
            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-1.png", alt="")
              .schema__step-title Оставляете заявку
              .schema__step-text Заполняете любую форму на этом сайте.

            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-2.png", alt="")
              .schema__step-title Мы анализируем <br/>вашу ситуацию
              .schema__step-text Связываемся с вами, анализируем вашу нишу, ставим цели по проекту.

            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-3.png", alt="")
              .schema__step-title Подписываем <br/>договор
              .schema__step-text и вы вносите предоплату 50%.

            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-4.png", alt="")
              .schema__step-title Составляем <br/>план действий
              .schema__step-text Прописываем <br/>пошаговый план работ и стратегию продвижения.

            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-8.png", alt="")
              .schema__step-title Дорабатываем
              .schema__step-text Анализируем полученные данные  и вносим необходимые правки 

            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-6.png", alt="")
              .schema__step-title Тестируем
              .schema__step-text Запускаем трафик, смотрим на результат.

            .schema__step
              .schema__icon
                img.lazy(data-src="assets/images/content/scheme-img-5.png", alt="")
              .schema__step-title Делаем услуги
              .schema__step-text Создаем сайты, настраиваем рекламу  

          a.schema__button.button.button_theme_general(href="#") Оставить заявку