html,
body
  height: 100%

.page
  // position: relative
  display: flex
  flex-direction: column
  min-height: 100vh
  color: #212121
  font-display: swap
  font-family: $e

  &__inner
    flex-grow: 1
    flex-shrink: 0
    flex-basis: auto
    
    // @include r(610px)
    //   padding-bottom: 135px        
  
  &__container
    padding-top: 40px 
    
  &__title
    margin-bottom: 55px
    text-align: center

  &__row
    display: flex
    flex-wrap: wrap 
    justify-content: flex-start
    align-items: flex-start
    
    @include r(1200px)
      flex-wrap: nowrap
      
    @include r(766px)
      flex-wrap: wrap
    

  &__content
    padding-right: 33px
    max-width: 850px
    width: 100%
    flex-shrink: 1
    flex-grow: 0
    flex-basis: auto
    
    @include r(1200px)
      max-width: 70.8%
      
    
    @include r(766px)
      max-width: 100%
      padding-right: 0
      flex-shrink: 0
      // order: 1
      
  &__side
    max-width: 320px
    margin-bottom: 116px
    width: 100%
    flex-shrink: 1
    flex-grow: 0
    flex-basis: auto
    @include r(1200px)
      flex-shrink: 0
    
    @include r(766px)
      max-width: 100%
  // &__footer
  //   overflow: hidden
  


.container
  margin: auto
  padding-right: 15px
  padding-left: 15px
  width: 100%
  max-width: 1200px
  

img
  max-width: 100%
  height: auto




