mixin breadcrumbs(data)
  .breadcrumbs
    .breadcrumbs__container.container
      ol
        li
          a(href='http://www.example.com/sciencefiction') Главная
        li Наши проекты


mixin breadcrumbs-guarantees(data)
  .breadcrumbs
    .breadcrumbs__container.container
      ol
        li
          a(href='http://www.example.com/sciencefiction') Главная
        li Наши гарантии

mixin breadcrumbs-about(data)
  .breadcrumbs
    .breadcrumbs__container.container
      ol
        li
          a(href='http://www.example.com/sciencefiction') Главная
        li Подробнее о нас

mixin breadcrumbs-contacts(data)
  .breadcrumbs
    .breadcrumbs__container.container
      ol
        li
          a(href='http://www.example.com/sciencefiction') Главная
        li Как с нами связаться


