mixin clients(data)
  section.clients.lazy(data-bg="url(assets/images/general/clients-bg.jpg)")&attributes(attributes)
    .clients__container.container
      h2.clients__title.title Достижения наших клиентов

      .clients__carousel-w
        .clients__carousel
          .clients__client
            .clients__client-w
              .clients__image
                img(data-lazy="assets/images/content/client-img-1.png", alt="")
              .clients__client-title Салон красоты Шарм, Березники
              ul.clients__list
                li.clients__item 
                  span.clients__item-term Ниша: 
                  span.clients__item-desc салон красоты
                li.clients__item 
                  span.clients__item-term Сделано:
                  span.clients__item-desc корпоративный сайт с конверсией до 11%, Яндекс.Директ
                li.clients__item 
                  span.clients__item-term Лиды:
                  span.clients__item-desc 4-35 заявок в день
                li.clients__item 
                  span.clients__item-term Срок сотрудничества:
                  span.clients__item-desc 7 лет. Благодарственное письмо
                li.clients__item 
                  span.clients__item-term Сайт:
                  span.clients__item-desc  
                    a(href="") www.sharm-krasota.ru
          
          .clients__client
            .clients__client-w
              .clients__image
                img(data-lazy="assets/images/content/client-img-1.png", alt="")
              .clients__client-title Парикмахерская Эконом, Березники

              ul.clients__list
                
                li.clients__item 
                  span.clients__item-term Ниша: 
                  span.clients__item-desc парикмахерская
                li.clients__item 
                  span.clients__item-term Сделано:
                  span.clients__item-desc корпоративный сайт с конверсией до 7%, Яндекс.Директ
                li.clients__item 
                  span.clients__item-term Лиды:
                  span.clients__item-desc 2-17 заявок в день
                li.clients__item 
                  span.clients__item-term Срок сотрудничества:
                  span.clients__item-desc 1 год. Благодарственное письмо
                li.clients__item 
                  span.clients__item-term Сайт:
                  span.clients__item-desc 
                    a(href="") www.parikmaherskaya-econom.ru

          .clients__client
            .clients__client-w
              .clients__image
                img(data-lazy="assets/images/content/client-img-1.png", alt="")
              .clients__client-title Салон красоты Шарм, Березники
              ul.clients__list
                li.clients__item 
                  span.clients__item-term Ниша: 
                  span.clients__item-desc салон красоты
                li.clients__item 
                  span.clients__item-term Сделано:
                  span.clients__item-desc корпоративный сайт с конверсией до 11%, Яндекс.Директ
                li.clients__item 
                  span.clients__item-term Лиды:
                  span.clients__item-desc 4-35 заявок в день
                li.clients__item 
                  span.clients__item-term Срок сотрудничества:
                  span.clients__item-desc 7 лет. Благодарственное письмо
                li.clients__item 
                  span.clients__item-term Сайт:
                  span.clients__item-desc  
                    a(href="") www.sharm-krasota.ru

          .clients__client
            .clients__client-w
              .clients__image
                img(data-lazy="assets/images/content/client-img-1.png", alt="")
              .clients__client-title Парикмахерская Эконом, Березники

              ul.clients__list
                
                li.clients__item 
                  span.clients__item-term Ниша: 
                  span.clients__item-desc парикмахерская
                li.clients__item 
                  span.clients__item-term Сделано:
                  span.clients__item-desc корпоративный сайт с конверсией до 7%, Яндекс.Директ
                li.clients__item 
                  span.clients__item-term Лиды:
                  span.clients__item-desc 2-17 заявок в день
                li.clients__item 
                  span.clients__item-term Срок сотрудничества:
                  span.clients__item-desc 1 год. Благодарственное письмо
                li.clients__item 
                  span.clients__item-term Сайт:
                  span.clients__item-desc 
                    a(href="") www.parikmaherskaya-econom.ru