mixin useful(data)
    section.useful
      .useful__container.container
        h2.useful__title.title В чем мы можем быть полезны?
        .useful__list-w
          ul.useful__list
            li.useful__service
              .useful__image
                img.lazy(data-src="assets/images/content/service-img-1.jpg", alt="")
              .useful__service-title Создать сайт
              .useful__service-text  
                p Создаём продающие сайты, с высокой конверсией, которые работают лучше отдела продаж.
                p Разработка сайтов любых видов (Landing Page, корпоративные, интернет-магазины)<br/>Адаптивность под все виды устройств Уникальный дизайн, повышающий доверие к Вашему бизнесу.

              .useful__button-w
                a.useful__more.button.buttone.button_theme_biggest(href="#") Подробнее


            li.useful__service
              .useful__image
                img.lazy(data-src="assets/images/content/service-img-2.jpg", alt="")
              .useful__service-title Контекстная реклама
              .useful__service-text  
                p Настраиваем рекламные кампании с полным охватом аудитории и минимальной ценой клика.
                p Профессиональная настройка под ключ - Яндекс.Директ (Поиск, РСЯ, Аудитории, ГЕО, Ретаргетинг). <br/>Профессиональная настройкаи под ключ Google AdWords (Поиск, КМС, Ретаргетинг).

              .useful__button-w
                a.useful__more.button.button_theme_biggest(href="#") Подробнее
                
            li.useful__service
              .useful__image
                img.lazy(data-src="assets/images/content/service-img-3.jpg", alt="")
              .useful__service-title Таргетированная реклама
              .useful__service-text  
                p Разработка рекламной компании VK, FaceBook, для огромного охвата ЦА.
                p Детальная настройка рекламы под каждый сегмент вашей аудитории, <br/>Тонкое прицеливание по интересам аудитории, <br/>Прицеливание по поведению аудитории, Прицеливание по <br/> демографическим факторам (пол, возраст, гео и т. д.) Реклама по подписчикам <br/> конкурентов.

              .useful__button-w
                a.useful__more.button.button_theme_biggest(href="#") Подробнее





